$background-color_1: rgba(0, 0, 0, 0.4);
$background-color_2: black;
$color_1: white;
$color_2: rgba(255, 255, 255, 0.4);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header {
	i {
		color: $color_1;
	}
}
.main-top {
	position: relative;
	height: 400px;
	background-image: url( https://cdn.pixabay.com/photo/2016/07/31/16/24/banner-1559400_1280.jpg);
}
.top-text {
	color: $color_1;
	background-color: $background-color_1;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.navbar-icon {
	margin-right: 40px;
	color: $color_1;
	.badge {
		position: absolute;
		top: 10px;
		right: 30px;
		border-radius: 50%;
		background: red;
		color: $color_1;
	}
}
.container {
	.containerheader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		button {
			margin-left: 10px;
			padding: 5px;
		}
	}
	display: grid;
	gap: 10px;
	margin: 50px;
	img {
		padding: 20px;
		aspect-ratio: 3/2;
		object-fit: contain;
	}
	.card-header {
		height: 40px;
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.right {
			.fa-regular {
				margin-right: 10px;
			}
		}
	}
}
footer {
	background-color: $background-color_2;
	.socialmedia {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 70px;
		background-color: $background-color_2;
		.fa-brands {
			border-radius: 0.2em;
			padding: 0.5em;
		}
		a {
			color: $color_1;
			margin: 5px;
			&:hover {
				color: $color_2;
			}
		}
	}
	.newsletter {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $color_1;
		font-weight: bold;
		padding-top: 20px;
		padding-bottom: 40px;
		label {
			margin-right: 20px;
		}
		button {
			font-size: 15px;
			padding: 5px;
			margin-left: 20px;
			background-color: $background-color_2;
			color: $color_1;
			&:hover {
				color: $color_2;
			}
		}
	}
	.author {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 25px;
		font-size: 15px;
		p {
			font-size: 18px;
			color: $color_1;
		}
	}
}
